@import "../../styles/base.scss";

.screen {
  height: 100%;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 20%;
}

.homeImage {
  width: 256px;
  height: 270px;
}
