@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.screen {
  height: 100%;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding-top: 15%;
  padding-bottom: 10%;
}

.largeText {
  font-family: $boldFont;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
  text-align: center;
}

.largeTextPurple {
  font-family: $boldFont;
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 2rem;
  color: $mainPurple;
}

.midText {
  font-family: $boldFont;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  text-align: center;
}
.uploadIcon {
  width: 192px;
  height: 128px;
}

.lightText {
  font-family: $regularFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #979c9e;
  text-align: center;
}
